.root {
  background: rgb(224, 207, 213);
  min-height: 100vh;
  min-width: 100%;
}

.card-container .card {
  color: rgb(255, 255, 255);
  background-color: rgb(192, 95, 126);
  font-family:Arial, Helvetica, sans-serif;
  font-size: xx-large;
  
}

.head {
  /* margin-top: 5rem; */
  text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.card-container {
  text-align: center;

  display: flex;
  justify-content: center;
  margin-top: 3rem;
}
